.task-container{
    width: 600px;
    // height: 340px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #fff;
    margin: 0 auto;
    border-radius: 3px;
    padding: 12px 25px;
    margin-bottom: 70px;
    
    @media screen and (max-width: 600px) {
        width: 100%;
    }
    .header{
        position: relative;
        display: flex;
        flex-direction: row;
        // margin-left: 20px;
        .icon-con{
            position: absolute;
            top: -40px;
            padding: 10px;
            display: inline-block;
            border-radius: 3px;
            svg{
                color: #fff;
            }
        }
        .title{
            margin-left: 70px;
            margin-bottom: 20px;
            color: #454545;
        }
    }
    
}