.header-st{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 600px;
    @media screen and (max-width: 600px) {
        width: 100%;
    }
    svg{
        margin-right: 30px;
        cursor: pointer;
    }
    .welcome-title{
        margin-bottom: 60px;
        font-size: 25px;
    }
}

.add-field{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0px 0px 0px;

    .input-field{
        display: flex;
        flex-direction: column;
        width: 100%;
        flex:1 1 auto;
        label{
            font-size: 14px;
        }
        input{
            border: none;
            width: 100%;
            margin-top: 5px;
            padding: 5px 2px;
            border-bottom: 1px solid #40a5fb;
            outline: none;
            // font-size: 15px;
        }
    }
    .add-icon{
        flex:1 1 auto;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: #40a5fb;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 40px;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
        cursor: pointer;
        svg{
            color: white;
        }
    }

}